{% extends "base.html" %}
{% load static %}
{%block title %}Osp_Book_Store{% endblock %}

{% block content %}
<div class="container text-center">
  <div class=row>
    <div class=col> 
    </div>
  </div>
</div>
<div class="container">
    <table class="table caption-top">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Серии</th>
          </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
          <tr>
            <th scope="row">:)</th>
            <td><a href="/guide/serie/{{ obj.pk}}"> {{obj.name}}</a></td>
            <td><a href="/guide/serie/search/{{ obj.pk}}" class="btn btn-outline-success my-2 my-sm-0 float-end" >
              Все книги данной серии
            </a></td>
            <!-- Кнопка-триггер модального окна -->
                <td><button type="button" class="btn btn-outline-success my-2 my-sm-0 float-end" data-bs-toggle="modal" data-bs-target="#{{ obj.pk}}">
                  Подробнее о серии
                </button></td>
                <!-- Модальное окно -->
                <div class="modal fade" id="{{ obj.pk}}" tabindex="-1" aria-labelledby="{{ obj.pk}}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="{{ obj.pk}}">{{ obj.name}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                      </div>
                      <div class="modal-body">
                        ...{{ obj.discription}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                      </div>
                    </div>
                  </div>
                </div>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if user.is_authenticated %}
      <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/guide/serie/create">Добавить новую серию</a>
      {% endif %}
</div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo В начало</a>
            <a href="?page={{ page_obj.previous_page_number }}">назад</a>
        {% endif %}
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">след.</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">пред. &raquo</a>
        {% endif %}
    </span>
</div>
{% endblock %}