{% extends "base.html" %}
{% load static %}
{%block title%}Osp_Book_Store{%endblock %}
{% block content %}
{% load group_tags %}
<div class="container text-center">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <img src="{{object.cover_foto.url}}" alt="" height =650, weight =650>
    </div>
    <div class="col-8">
      <table class="table table-hover">
        <tr>
          <th>"Название книги":</th>
          <td>{{object.title_of_the_book}}</td>
        </tr>
        <tr>
          <th>"Цена(BYN)"</th>
          <td>{{object.price}}</td>
        </tr>
        <tr>
          <th>"Автор":</th>
          <td>{% for obj in object.writer.all%}
            {{obj.name}} <br>
            {%endfor%}</td>
        </tr>
        <tr>
          <th>"Серия":</th>
          <td>{{object.serie.name}}</td>
        </tr>
        <tr>
          <th>"Жанр":</th>
          <td>{% for obj in object.genre.all%}
            {{obj.name}} <br>
            {%endfor%}</td>
        </tr>
        <tr>
          <th>"Год издания":</th>
          <td>{{object.year_of_publication}}</td>
        </tr>
        <tr>
          <th>"Количество страниц":</th>
          <td>{{object.page}}</td>
        </tr>
        <tr>
          <th>"Переплёт":</th>
          <td>{{object.binding}}</td>
        </tr>
        <tr>
          <th>"Формат":</th>
          <td>{{object.format}}</td>
        </tr>
        <tr>
          <th>"ISBN":</th>
          <td>{{object.isbn}}</td>
        </tr>
        <tr>
          <th>"Вес(гр)":</th>
          <td>{{object.weight}}</td>
        </tr>
        <tr>
          <th>"Возрастные ограничения": </th>
          <td>{{object.age}}</td>
        </tr>
        <tr>
          <th>"Издательство":</th>
          <td>{{object.publishing_house.name}}</td>
        </tr>
        <tr>
          <th>"Количество книг в наличии":</th>
          <td>{{object.availability}}</td>
        </tr>
        <tr>
          <th>"Доступен для заказа":</th>
          <td>{{object.active}}</td>
        </tr>
        <tr>
          <th>"Рейтинг(1-10)":</th>
          <td>{{object.rating}}</td>
        </tr>
        <tr>
          <th>"Дата создания":</th>
          <td>{{object.created}} </td>
        </tr>
        <tr>
          <th>"Дата изменения":</th>
          <td>{{object.updated}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      {% if request.user|has_group:"MANAGERS" %} {% elif request.user|has_group:"ADMIN"%} 
      <a class="btn btn-outline-success my-2 my-sm-0 float-end" role="button"
        href="{% url 'catalog:book_update' pk=object.pk%}">Обновить</a>
      <a class="btn btn-outline-danger my-2 my-sm-0 float-end" role="button"
        href="{% url 'catalog:book_delete' pk=object.pk%}">Удалить</a>
        {% endif %}
        <form  class=" p-4 float-end" action="/orders/cart" method="get">
          <label for="input" class="col-form-label float-start">Количество:&nbsp;&nbsp;</label>
          <input style="max-width: 5rem" class="form-control" id="input" type="number" name="quantity" min="1" value="1">
          <input type="hidden" name="product" value="{{object.pk}}">
          <button class="btn btn-outline-success my-2 my-sm-0 float-end" type="submit">ДОБАВИТЬ В КОРЗИНУ</button>
        </form>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-3">
        <h2>Комментарии:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        {% if not object.comments.all %}
    <p>Комментария нет... <a class="text-primary" href="{% url 'catalog:add_comment' pk=object.pk %}">Добавить...</a></p>
        {% else %}
    <a class="text-primary" href="{% url 'catalog:add_comment' pk=object.pk %}">ДОБАВИТЬ</a>
    {% endif %}
      </div>
    </div>
    <div class="row">
      {% for comment in object.comments.all%}
        <div class="col-3"></div>
        <div class="col-3">
          <b>{{ comment.user }}</b> - <span class="text-muted" style="font-size: 13px;">{{ comment.date }}</span>
        </div>
        <div class="col-6"><p>{{ comment.body }}</p></div>
  {% endfor %}
  </div>
</div>
{% endblock %}