  <!-- Модальное окно -->
<div class="modal fade" id="delivery" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delivery" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">О Доставке</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          Почтой по Беларуси (3-5 дней)<br>
  <b>Наложенным платежом</b><br>
  Заказ высылается почтой по Беларуси на указанный вами адрес через отделение РУП "БелПочта". Оплата происходит на почте при получении заказа.
  Заказ дороже 50 рублей высылается только по предоплате. 
  Стоимость пересылки рассчитывается  по тарифам РУП "Белпочта" для юридических лиц.
  Во время получения заказа на почте с вас возьмут еще до 5% от стоимости заказа (комиссия Белпочты за денежный перевод).<br>
  <b>По предоплате</b><br>
  Вы можете оплатить заказ во время его оформления на сайте, выбрав способ оплаты "Банковской картой", либо с помощью услуги ЕРИП после полной комплектации заказа, о которой вам сообщит менеджер по телефону. 
  Также вы можете оплатить заказ после его комплектации через отделение банка, указав оператору номер вашего заказа и сумму, а также наши реквизиты.
  Преимущество предоплаты перед наложенным платежом заключается в том, что вам не придется платить за упаковку, а также 5% от стоимости заказа за почтовый перевод денежных средств --> ДЕШЕВЛЕ. 
  Заказ на сумму больше 100 рублей мы доставим вам БЕСПЛАТНО!
  <b>Внимание!</b><br>
  Независимо от выбранного вами способа доставки, без подтверждения заказа по телефону книги не высылаются.
  Заказ дороже 50 рублей  высылается только по предоплате (Поскольку поставщики не могут гарантировать 100% наличие книг, просим вносить предоплату только после подтверждения полной комплектации заказа (!) с менеджером из службы доставки, который с вами свяжется).
  Крупные заказы высылаются после согласования индивидуальных условий доставки.
  К сожалению, хоть и крайне редко, случаются непредвиденные обстоятельства, по которым мы не успеваем вовремя доставить заказ. Об этом вас непременно проинформирует наш специалист (письмом, на указанный вами e-mail, или по телефону).<br>
  <b>Доставка за пределы Республики Беларусь не осуществляется</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Модальное окно -->
  <div class="modal fade" id="rights" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="rights" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Права потребителя</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          В соответствии с Законом Республики Беларусь от 09.01.2002 "О защите прав потребителей", Рекомендациями МАРТ для продавцов при осуществлении Интернет-торговли от 22.07.2014 «О мерах по обеспечению соблюдения законодательства о защите прав потребителей при осуществлении Интернет-торговли».<br>
          1. Потребитель, которому продан товар ненадлежащего качества, если его недостатки не были оговорены продавцом, вправе потребовать на выбор:<br>   
          - замены недоброкачественного товара товаром надлежащего качества;<br>       
          - соразмерного уменьшения покупной цены товара;<br>        
          - незамедлительного безвозмездного устранения недостатков товара; <br>      
          - возмещения расходов по устранению недостатков товара;<br>       
          - расторжения договора купли-продажи и возмещения убытков, причиненных потребителю в полном объеме.<br>            
          Вместо предъявления указанных требований потребитель вправе расторгнуть договор розничной купли-продажи и потребовать возврата уплаченной за товар денежной суммы. При этом потребитель по требованию и за счет продавца должен возвратить полученный товар ненадлежащего качества. Потребитель вправе возвратить такой товар без потребительской упаковки. <br>     
          2. Претензию потребитель может предъявить путем:<br>   
          - оформления письменного заявления в адрес продавца;<br>      
          - учинения записи в книге замечаний и предложений.<br>           
          3. Потребитель вправе предъявить продавцу претензию о недостатках товара в течение гарантийного срока или срока годности на товар. В отношении товаров, на которые гарантийные сроки или сроки годности не установлены либо гарантийные сроки которых составляют менее двух лет, потребитель вправе предъявить продавцу претензию о недостатках товара, если недостатки обнаружены в течение двух лет со дня передачи таких товаров продавцом потребителю. <br>
          4. Обоснованные требования потребителя должны быть удовлетворены продавцом (изготовителем, поставщиком) незамедлительно, а в случае, если удовлетворить требования потребителя не представляется возможным, в следующие сроки:<br>
       
          - требование о расторжении договора купли-продажи, либо соразмерном уменьшении покупной цены товара, либо возмещении расходов по устранению недостатков товара - в течение 7 дней, при необходимости проведения экспертизы - в течение 14 дней;<br>
          
          - требование о безвозмездном устранении недостатков товара - в течение 14 дней;<br>
          
          - требование о замене товара - в течение 14 дней, а при отсутствии у продавца соответствующего товара - в течение месяца.<br>
  
          5. В случае, если продавец, получивший сумму предварительной оплаты, не исполняет обязанности по передаче товара потребителю в установленный договором срок, потребитель по своему выбору вправе потребовать:<br>
          
          - передачи оплаченного товара в установленный им новый срок;<br>
          
          - возврата суммы предварительной оплаты за товар, не переданный продавцом.<br>
  
          Обязанности продавца<br>
  
          В соответствии с Законом Республики Беларусь "О защите прав потребителей", Правилами продажи товаров при осуществлении дистанционной торговли, утвержденными постановлением Совета Министров Республики Беларусь от 15 января 2009 г. N 31 в редакции постановления Совета Министров Республики Беларусь от 25 июня 2021 г. N 363, Рекомендациями МАРТ для продавцов при осуществлении Интернет-торговли от 22.07.2014 «О мерах по обеспечению соблюдения законодательства о защите прав потребителей при осуществлении Интернет-торговли».<br>
  
          1. При продаже товаров через Интернет-магазины до сведения потребителя должна доводиться следующая информация:<br>
  
          1.1. на главной странице сайта Интернет-магазина:<br>
          
          - полное наименование и место нахождения юридического лица, а также информация о государственной регистрации юридического лица;<br>
          
          - номера контактных телефонов, адрес электронной почты продавца, а также лица, уполномоченного продавцом рассматривать обращения покупателей о нарушении их прав, предусмотренных законодательством о защите прав потребителей;<br>
          
          - номера контактных телефонов работников местных исполнительных и распорядительных органов по месту государственной регистрации продавца, уполномоченных рассматривать обращения покупателей в соответствии с законодательством об обращениях граждан и юридических лиц;<br>
          
          - режим работы;<br>
          
          - способы оплаты товаров и их доставки;<br>
          
          - дата включения сведений об интернет-магазине в Торговый реестр Республики Беларусь.<br>
    
          1.2. на любой странице сайта Интернет-магазина:<br>
          
          - образцы платежных документов, формируемых с использованием кассового оборудования, подтверждающих прием продавцом от покупателя наличных денежных средств;<br>
          
          - информация о возможности оплаты товара путем дистанционного перечисления денежных средств;<br>
          
          - следующая информация о товаре: наименование товара; цена, условия приобретения и оплаты товара, а также способы оплаты товара; способы и сроки доставки товара; цена и условия оплаты доставки товаров; гарантийный срок, если он установлен; полное наименование, место нахождения изготовителя, а также при наличии – организации или ИП, осуществляющей деятельность по ввозу товаров на территорию Республики Беларусь для их последующей реализации, представителя, ремонтной организации; страна происхождения товара, если она не совпадает с местом нахождения изготовителя; информация о том, что товар были в употреблении или в нем устранялся недостаток, в том числе об имеющихся в товаре недостатках, размещаемая с наименованием товара.
  
          1.3. Следующая информация может доводиться до сведения покупателей в устной форме либо по требованию покупателя в письменной форме:<br>
          
          - указание на нормативные документы, устанавливающие требования к качеству товара (для товаров, выпускаемых по таким нормативным документам);<br>
          
          - сведения об основных потребительских свойствах товаров; рекомендации и (или) ограничения по использованию, если их использование без этих рекомендаций и (или) ограничений затруднено либо может причинить вред здоровью покупателей, их имуществу;<br>
          
          - дата изготовления а также срок службы, и (или) срок годности, и (или) срок хранения товара, указание условий хранения товара, если они отличаются от обычных условий хранения соответствующих товаров либо требуют специальных условий хранения, а также сведения о необходимых действиях покупателя по истечении указанных сроков и возможных последствиях при невыполнении таких действий, если товар по истечении указанных сроков представляет опасность для жизни, здоровья, наследственности, имущества покупателя и окружающей среды или становится непригодными для использования по назначению;<br>
          
          - сведения об обязательном подтверждении соответствия товара, подлежащего обязательному подтверждению соответствия;<br>
          
          - количество или комплектность товара; сведения о классах энергоэффективности товаров в случаях, если их установление предусмотрено законодательством;<br>
          
          - полное наименование и место нахождения юридического лица или ИП, уполномоченного продавцом на доставку товаров;<br>
          
          - информация об условиях, сроках и порядке расторжения договора, в том числе в случае отказа покупателя от исполнения договора до передачи ему товаров, включая информацию о порядке возврата денежной суммы, уплаченной за товары;<br>
          
          - иные сведения, которые в соответствии с законодательством, техническими регламентами Таможенного союза и Евразийского экономического союза или соответствующими договорами обязательны для предоставления покупателю, в том числе сведения, относящиеся к соответствующему договору и предоставляемые по просьбе покупателя.<br>
  
          2. Вся информация должна доводиться до сведения потребителя на белорусском или русском языке.<br>
  
          3. Цена товаров должна указываться исключительно в белорусских рублях.<br>
  
          4. При предоставлении скидок информация об их размере доводится до покупателей в процентном отношении к установленной цене товаров либо в абсолютном выражении в денежных единицах. (Например: "Скидки от 10% до 50% от цены товара" или "Скидки от 10 рублей от цены товара").<br>
  
          5. В момент доставки товара потребитель вправе отказаться от приобретения товара без возмещения продавцу расходов, если потребителю не была предоставлена вся необходимая информация о товаре.<br>
        
          6. Продавец обязан принять претензию потребителя и рассмотреть ее в установленном Законом Республики Беларусь "О защите прав потребителей" порядке.<br>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Модальное окно -->
<div class="modal fade" id="refund" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="refund" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Возврат товара</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          Претензии по качеству товара
          
          Внимание! При получении заказа рекомендуется внимательно осмотреть товар, проверить комплектность, товарный вид. Если товар не устроил, не подошел, обнаружены видимые повреждения, не принимать его.
          
          После выполнения заказа Вы вправе обратиться к нам по качеству товара и по любым возникающим вопросам. В соответствии с Законом Республики Беларусь от 9 января 2002 г. «О защите прав потребителей» Совет Министров Республики Беларусь утвердил постановлением от 14.06.2002 № 778 (в действующей редакции) ПЕРЕЧЕНЬ непродовольственных товаров надлежащего качества, не подлежащих обмену и возврату.
          К товару ненадлежащего качества можно отнести: не отвечающий заявленным производителем свойствам, позволяющим использовать данный вид товара по назначению; не соответствующий требованиям законов, регламентирующих качество и безопасность определенного вида товаров; имеющий недостатки, особенности неоговоренные заранее, нарушающие функционирование и внешний вид.
          Рекомендуем к прочтению информацию Брак печатной продукции .
          
          
          
          Гарантийные сроки использования
          
          Технически сложные товары имеют гарантийные сроки использования. При приобретении такого товара просим сохранять упаковку товара, полный комплект сопровождающей документации, гарантийный талон, документ, подтверждающий факт приобретения товара.
          Один и тот же товар от разного производителя, может иметь разные гарантийные сроки обслуживания. Покупатель вправе предъявить продавцу требования по товару до истечения гарантийного срока.
          
          В случае обращения по бракованному, некачественному товару, рассмотрим требования потребителя в сроки, установленные законодательством Республики Беларусь.
          
          Проверка качества товара
          
          При необходимости мы примем товар на проверку качества. По Вашему обращению, с информацией о предполагаемом браке, мы оповестим Вас о необходимости такой процедуры.
          При обращении к продавцу, в случае реализации товара ненадлежащего качества, покупатель заполняет заявление установленной формы. Сотрудники магазина при приемке товара на проверку качества составляют соответствующий акт, один экземпляр которого выдается покупателю.
          
          Проверка продавцом качества товара не является экспертизой качества товара. Не предусмотрено возмещение потребителем продавцу расходов на проведение проверки качества. Все расходы по проведению проверки качества продавец несет самостоятельно. Т.к. проверка качества является правом, а не обязанностью, продавец сам устанавливает документальную форму результата проверки.
          
          Для проведения проверки качества товара необходимо вернуть его нам.
          Если заказ получен в магазине, то товар возвращается в тот же магазин.
          Если заказ доставлен курьерской доставкой, то для приема товара на проверку к Вам придет курьер, заранее договорившись об удобном времени.
          При доставке заказа по почте, необходимо отправить заказ к нам так же по почте. Почтовые расходы по пересылке и упаковке будут возмещены при соблюдении рекомендаций по обратной отправке:
          1. Товар отправляете на адрес для отправки возвратов
          2. Вид отправления - "Посылка". Для небольшого и легкого товара до 500 гр. (например, диск) лучше отправить как "Бандероль".
          3. Упаковка товара - решение Вы принимаете самостоятельно. Рекомендуем использовать картон, крафт-бумагу и целлофановые пакеты, чтобы защитить товар от механических повреждений и намокания. При покупке упаковочных материалов на почте компенсируем до 0,50 руб.
          4. Отправление без указания ценности. Надбавка за объявленную ценность (3% от заявленной суммы) не компенсируется.
          5. Не использовать срочную отправку EMS (сегодня-на-завтра) или аналогичную. Стоимость срочной отправки не компенсируется.
          6. Обязательно сохранять квитанцию об отправке до подтверждения получения нами возврата.
          7. Желательно после отправки сообщить клиенту код посылки/бандероли (указан в квитанции).
          8. Получение возвратов происходит у нас 1 раз в неделю.
          9. Почтовые расходы за пересылку товара на проверку подлежат возврату в случае подтверждения факта брака товара.
          
          Экспертиза товара
          
          Экспертизу вправе проводить: аккредитованные органы по сертификации, аккредитованные испытательные лаборатории, торгово-промышленные палаты, общественные объединения потребителей. Экспертиза может проводиться как продавцом, так и покупателем самостоятельно.
          При проведении экспертизы покупателем. Услуги оплачиваются покупателем. Экспертиза проводится за счет продавца, в случае принятия решения судом в пользу потребителя в судебном порядке.
          Потребитель вправе оплатить экспертизу самостоятельно, однако в этом случае продавец должен быть извещен о таком решении потребителя.
          При проведении экспертизы продавцом. Услуги оплачивает продавец. При установлении отсутствия дефектов или наличия дефектов товара, за которые продавец не несет ответственности (возникли после передачи товара покупателю), покупатель обязан возместить продавцу стоимость проведения экспертизы, стоимость транспортировки и хранения товара, вследствие нарушения им установленных правил использования, хранения, транспортировки товара или действий третьих лиц либо непреодолимой силы. Покупатель вправе оспорить результат экспертизы.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>