{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Osp_Book_Store{% endblock %}
{% block content %}

<div class="container text-center ">
  <div class="row align-items-center">
    <div class="col-2">
      <img class="mb-4" src={% static "nerd_face_1024.gif" %} alt="" width="150" height="150">
    </div>
    <div class="col auto">
        <p class="text-warning bg-dark fs-5">«Osp_Book_Store» является крупной торговой сетью в РБ. В фирменном книжном магазине сети предлагается большой выбор разнообразной литературы и периодических изданий:
художественная литература в различных жанрах;
детская литература;
учебная литература, методические пособия;
научно-популярные издания;
литература о хобби, творчестве;
коллекционные издания и др.</p>
    </div>
    <div class="col-2">
      <img class="mb-4" src={% static "logo.png" %} alt="" width="150" height="150">
    </div>
  </div>
</div>
<div class="container">
<marquee behavior="alternate" direction="left" >
  <h1>#Очень рад Вас видеть на своем сайте!#</h1></marquee>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
            <img src="{% static "bootstrap.jpg" %}" class="d-block w-100" alt="..." height="200">
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static "html_css.png" %}" class="d-block w-100" alt="..." height="200">
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="4000">
            <img src="{% static "it.png" %}" class="d-block w-100" alt="..." height="200">
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static "python_django.webp" %}" class="d-block w-100" alt="..." height="200">
          </div>
        </div>
        </div>
   </div>
</div>
<hr>
<div class="container px-4">
  <div class=row gx-5>
    <div class=col> 
      <div class="p-3" >
        <h3>НОВИНКИ 2023 :</h3> </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% for obj in new_list %}
    <div class="col d-flex align-items-stretch">
      <div class="card">
        <img src="{{obj.cover_foto.url}}" class="card-img-top" alt="..." width="200" height="250">
          <div class="card-body" height="350">
          <h5 class="card-title">{{obj.title_of_the_book}}</h5>
          <p class="card-text">Стоимость:{{obj.price}}</p>
          <a href="#" class="btn btn-primary d-flex align-items-end">В корзину</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<hr>
<div class="container px-4">
  <div class=row gx-5>
    <div class=col> 
      <div class="p-3" ><h3>С ВЫСОКИМ РЭЙТИНГОМ :</h3> </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% for obj in rating_list %}
    <div class="col d-flex align-items-stretch">
      <div class="card">
        <img src="{{obj.cover_foto.url}}" class="card-img-top" alt="..." width="200" height="250">
          <div class="card-body">
          <h5 class="card-title">{{obj.title_of_the_book}}</h5>
          <p class="card-text">Стоимость:{{obj.price}}</p>
          <a href="#" class="btn btn-primary d-flex align-items-end">В корзину</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<hr>
<div class="container px-4">
  <div class=row gx-5>
    <div class=col> 
      <div class="p-3" ><h3>НОВЫЕ ПОСТУПЛЕНИЯ :</h3></div>
    </div>
  </div>
</div>

<div class="align-self-stretch">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    {% for obj in last_list %}
    <div class="col d-flex align-items-stretch">
        <div class="card" style="width: 18rem;">
        <img src="{{obj.cover_foto.url}}" class="card-img-top" alt="..." height="250">
          <div class="card-body">
          <h5 class="card-title">{{obj.title_of_the_book}}</h5>
          <p class="card-text">Стоимость:{{obj.price}}</p>
          <a href="#" class="btn btn-primary d-flex align-items-end">В корзину</a>
        </div>
      </div> 
    </div>
    {% endfor %}
  </div>
</div>
<hr>
<div class="container text-center ">
  <div class=row gx-5>
    <div class=col> 
      <div class="p-3" ><h3>Уважаемый Покупатель, здесь Вы можете оставить отзыв на хорошую работу магазина или указать на недостатки и помочь нам стать лучше.</h3>
        <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/comment">Добавить отзыв</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
        {% for obj in comment_list %}
        <div class="col-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Автор:</label>
          <h2>{{obj.name}}</h2>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Отзыв:</label>
          <p>{{obj.comment}}</p>
        </div>
      </div>
        {% endfor %}
        
    </div>
</div>
<hr>
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col-2">
      <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-header bg-transparent border-success">Информация</div>
        <div class="card-body text-success">
          <ul>
            <li class="fs-8"><a href="#" data-bs-toggle="modal" data-bs-target="#delivery">О доставке</a></li>
            <li class="fs-6"><a href="#" data-bs-toggle="modal" data-bs-target="#rights">Права потребителя</a></li>
            <li class="fs-6"><a href="#" data-bs-toggle="modal" data-bs-target="#refund">Возврат товара</a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static "slide2.jpg" %}" class="d-block w-100" alt="..." height="200">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static "slide3.webp" %}" class="d-block w-100" alt="..." height="200">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{% static "slide4.png" %}" class="d-block w-100" alt="..." height="200">
          </div>
        </div>
    </div>
  </div>
    <div class="col-2">
      <div class="card border-success mb-6" style="max-width: 20rem;">
        <div class="card-header bg-transparent border-success">Информация</div>
        <div class="card-header bg-transparent border-success">
        <div class="fb-like" data-share="true" data-width="300" data-show-faces="true">&nbsp;</div>
        <div class="banner-title">Бесплатный самовывоз</div>
        <div class="banner-content">Почтой бесплатно</div>
        <div class="banner-content">от 100 руб.</div>
        <div class="fb-like" data-share="true" data-width="300" data-show-faces="true">&nbsp;</div>
        </div>
    </div>
  </div>

  <!-- Модальное окно -->
  {% include "info.html" %}
</div>
{% endblock %}
<img src="{% static "bootstrap.jpg" %}" class="d-block w-100" alt="..." height="200">