{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{%block title %}Osp_Book_Store{% endblock %}
{% block content %}

<div class="container text-center">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
  <hr />
<div class="container text-left" style="width: 100%;">
    <div>
        <H1>ЗАКАЗ</H1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">КНИГА</th>
                <th scope="col">КОЛИЧЕСТВО</th>
                <th scope="col">ЦЕНА</th>
            </tr>
            </thead>
            <tbody>
                {% for good_in_cart in object.products.all %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{good_in_cart.product.title_of_the_book}}</td>
                <td>{{good_in_cart.quantity}}</td>
                <td>{{good_in_cart.price}}</td>
            </tr>
            {%endfor%}
            <tr>
                <td colspan="2">ОБЩЕЕ: </td>
                <td colspan="1">{{object.total_quantity}}</td>
                <td colspan="1">{{object.total_price}}</td>
            </tr>
            </tbody>
        </table>  
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}} 
        <button type="submit" class="btn btn-success">Оформить</button>
        <a href="{% url 'orders:cartview' %}" class="btn btn-danger">Назад</a>
    </form>    
    </div>
</div> 

{% endblock %}